
<div class="jumbotron abc">
      <div class="container">
        <h2 style="text-align: center;">Travel Assit Management System - Admin</h2>
        
      </div>
    </div>

<div class="row">
<!-- 
          <%= link_to "View Drivers",drivers_path, class:"text-center col-md-12 w3-btn w3-blue w3-hover-green", style:"width:200px;text-align:center"%>
          
         
          <%= link_to "View Services",services_path, class:"text-center col-md-12 w3-btn w3-blue w3-hover-green", style:"width:200px;text-align:center"%>


          

         <%= link_to "View Fares",fares_path, class:"text-center col-md-12 w3-btn w3-blue w3-hover-green", style:"width:200px;text-align:center"%>
         <%= link_to "View Feedback",feedbacks_path, class:"text-center col-md-12 w3-btn w3-blue w3-hover-green", style:"width:200px;text-align:center"%> -->
</div>







